.cellWraper{
display: flex;
align-items: center;
}
.image{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0px 5px;
    object-fit: cover;
}
.pending{
    color: goldenrod;
    background-color: rgb(247, 243, 243);
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;

}
.Approved{
    color: green;
    background-color: rgb(240, 233, 233);
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
}